@font-face {
  font-family: samsungone;
  src: url(../samsungone/SamsungOne-400.ttf);

}

* {
  /* margin: 0;
    padding: 0; */
  font-family: samsungone;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(226, 226, 226);
  overflow-x: hidden;

  /* background-color: rgb(170, 94, 94); */
}

header {
  background-color: rgba(255, 255, 255, 0);
  height: 75px;
}

main {
  margin: 40px 20px 0 20px;
}

.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

fieldset {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
}

.form-group div span {
  margin-right: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}