@font-face{
    font-family: samsungone;
    src:url(../samsungone/SamsungOne-400.ttf);
    
}
*{
    font-family: samsungone;
    scroll-behavior: smooth;
}
body{ 
    margin: 0;
}
header{
    height: 75px;
}
main{
    margin: 40px 20px 0 20px;
    text-align: center;
}
h1{
    transition: .1s;
}

h1:hover{
    color: white;
    background-color: black;
    border-radius: 10px;
}
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label {
    margin-left: 11px;
    text-align: left;
    display: block;
    margin-bottom: 5px;
}
input, textarea {    
    width: 89%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
}
textarea {
    resize: vertical;   
}
.button_pass {
    font-size: 16px;
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
input[type="text"]:focus,input[type="number"]:focus,input[type="email"]:focus,textarea:focus {
    border-color: #ffcc00;
    outline: none;
}


