@font-face {
    font-family: samsungone;
    src: url(../samsungone/SamsungOne-400.ttf);

}
@font-face {
    font-family: Italianno;
    src: url(../fonts/Italianno/Italianno-Regular.ttf);

}
:root{
    --borderradius:7px;
    --businessyellow:#fcff37;
    --button_blue_border:solid 2px #092C40;
    --div_margins:0 50px 42px 50px;
    --mob_res_div_margins:0 20px 30px 20px;
    --div_padding:42px 50px 42px 50px;
    --mob_res_div_padding:20px 20px 20px 20px;
    --blue_button:#092C40;
}
* {
    margin: 0;
    padding: 0;
    font-family: samsungone;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(226, 226, 226);
    overflow-x: hidden;

}

a {
    text-decoration: none;
}

#Navbar {
    width: 100vw;

}

#homeicon {
    height: 30px;
    width: 30px;
    margin-right: 4px;
}

.upper-navbar-font {
    font-size: 11px;
    color: white;
}

.lower-navbar-font {
    font-size: 10px;
    color: rgb(231, 231, 231);
}

header {
    background-color: rgba(255, 255, 255, 0);
    height: 75px;
    position: fixed;
    top: 0;
    z-index: 99;
}

.navbar {
    display: flex;
    flex-direction: row;
}

#headerelement {
    display: flex;
    flex-direction: row;
}

.headerelement-text {
    display: flex;
    flex-direction: column;
}

.navbar ul {
    width: 100%;
    text-align: left;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: end;
    padding: 22px 64px 0 0;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    display: flex;
}

select {
    height: 30px;
    font-size: 16px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    /* border-radius: 3px; */
    border: 1px solid rgba(255, 255, 255, 0);
}

option {
    color: black;
}

picture {
    position: static;
    z-index: auto;
}

.navtext {
    color: white;
}

.body-background-image {
    clear: both;
    background-image: url(../images/testbackground.jpg);
    /* background-size: cover; */
    background-repeat: repeat-x;
    background-size: 100% 100%;
    /* background-color: aqua; */
    height: 620px;
    width: 100%;
    margin: 0 0 42px 0;
    border-radius: 0 0 10px 10px;
}

.intro-background {
    position: relative;
    top: 100px;
    margin: 0 50px 0 50px;
    background-color: rgba(82, 82, 82, 0.7);
    border-radius: 10px;
    height: 450px;
    color: white;
    text-align: center;
    padding: 30px 0 0 0;
    backdrop-filter: blur(7px);
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.intro-background-outer-text p {
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #f3f3f3;
    padding: 20px 50px;
}

.expolre_india_button {
    /* position: relative;
    top: 70px; */
    color: white;
    font-size: 22px;
    padding: 7px 10px;
    border-radius: 10px;
    background-color: var(--blue_button);
    transition-duration: 0.2s;
}

.expolre_india_button:hover{
    background-color: white;
    color: var(--blue_button);
    font-weight: 900;
}

.grab_ticket_button,.Business_card_btn {
    width: fit-content;
    color: white;
    font-size: 22px;
    /* margin-top: 20px; */
    padding: 5px 8px;
    border-radius: 10px;
    border: var(--button_blue_border);
    background-color: var(--blue_button);
    transition-duration: 0.2s;
}
.Business_card_btn {
    margin: 0;
    width: fit-content;
}
.grab_ticket_button:hover,.Business_card_btn:hover {
    background-color: white;
    color: var(--blue_button);
    font-weight: 900;
}

.page-logo {
    height: 60px;
    /* position: relative;
    left: 30px;
    top: 5px; */
}

.page-logo-link {
    /* width: 50%; */
    position: relative;
    left: 40px;
    top: 10px;
}

.india-unbound-text {
    font-weight: 900;
    position: relative;
    left: 46px;
    top: 11px;
    font-size: 20px;
    color: white;
}

.india-text:hover {
    color: #F79A13;
}

.unbound-text:hover {
    color: #5AC479;
}
.places-row {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 30px 100px 0 100px;
}
.places-row_upper,.places-row_lower {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* .places {
    height: auto;
    border-radius: 10px;
    margin:var(--div_margins);
    background-color: white;
    padding:var(--div_padding);
} */
.collection-heading{
    width: 100%;
    padding: 5px 0;
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 10px;
    animation: appear_right linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}
#beaches-container {
    background-image: url(../images/beaches.jpg);
    background-size: cover;
    /* background: linear-gradient(to top, rgba(14, 14, 14, 0.5), transparent); */
}

#hill-station-container {
    background-image: url(../images/hill\ station1.jpg);
    background-size: cover;
}

#green-forest-container {
    background-image: url(../images/green\ forest1.jpg);
    background-size: cover;
}

#heritage-container {
    background-image: url(../images/heritage1.jpg);
    background-size: cover;
}

#pilgrimage-container {
    background-image: url(../images/pilgrimage1.jpg);
    background-size: cover;
}

#relaxation-container {
    background-image: url(../images/relaxation.jpg);
    background-size: cover;
}

.gradient-div {
    /* height: 230px;
    width: 200px; */
    height: 180px;
    width: 220px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, rgba(14, 14, 14, 0.6), transparent);
}

.places-container {
    /* background: linear-gradient(to top, rgba(14, 14, 14, 0.5), transparent); */
    /* height: 230px;
    width: 200px; */
    height: 180px;
    width: 220px;
    border-radius: 10px;
    transition: 0.1s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    /* display: flex;
    flex-direction: column; */
}

.places-container:hover {
    scale: 1.02;
}


.space-div {
    height: 70%;
    width: 0%;
}

.places-container-heading {
    margin-left: 6px;
}

.places-container-upper-heading {
    background-color: #ffffff;
    padding: 3px;
    border-radius: 3px;
    font-weight: 700;
    color: #2e2e2e;
    font-size: small;
}

.places-container-lower-heading {
    margin: 8px 8px 8px 4px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;

}

fieldset {
    border: none;
    background: transparent;
}

.about_us{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: start;
    align-items: center;
}
.exploring_india_background,
.grab_ticket_button_background,.about_us,.places_div{
    height: auto;
    border-radius: 10px;
    margin:var(--div_margins);
    background-color: white;
    padding:var(--div_padding);
}
.exploring_india_background{
    display: flex;
    flex-direction: column;
    gap: 30px    /* height: 400px; */
}
.grab_ticket_button_background {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.div_business_card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
.business_card,.business_card_gradient{
    border-radius: 7px;
}
.business_card{
    background-image: url(../images/businesscardwallpaper.jpg);
    background-size: cover;
    height: 400px;
    width: 700px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.business_card_vehicles{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.business_card_vehicles div img{
    height: 60px;
}

.business_card_gradient{
    padding: 5px 25px;
    height: 390px;
    /* width: 700px; */
    background: linear-gradient(to right, rgb(0, 0, 4), transparent);
}

.business_card_gradient .business_card_gradient_header span{
    /* display: inline-block; */
    color: var(--businessyellow);
    height: 40px;
    /* font-family: "Italianno", cursive; */
    font-family: Italianno;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
      
}
.business_card_gradient_body{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap :30px;
}

.business_card_gradient_body .patners{
    font-weight: 900;
    font-style: italic;
    color: var(--businessyellow);
    text-align: start;
    font-size: x-large;
    /* margin: 0 0 0 280px; */
}
.business_card_gradient_footer{
    margin-top: 20px;
    font-size: larger;
    margin-right: 250px;
    color: white;
}
.business_card_gradient_footer a{
    color: white;
    text-decoration: none;
}

.business_mail{
    margin-top: 20px;
    cursor: pointer;
}
.business_card_gradient p{
    color: #b1377a;
    font-weight: 900;

}
.businesscard_map{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.travels_map{
    height: 400px;
    width: 400px;
    /* height: fit-content;
    width: fit-content; */
    border-radius: var(--borderradius);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.exploring_india {
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
    animation: appear_right linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
    
}

/* @keyframes appear_right {
    from {
        opacity: 0;
        transform: translateX(100px);        
    }

    to {
        opacity: 1;
        transform: translateX(0px);        
    }
} */
/* @keyframes appear_right {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} */

.exploring_india_map {
    justify-content: center;
    text-align: center;
    height: 270px;
    animation: appear_right linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}
.compass {
    left: 180px;
    position: relative;
    height: 200px;
    display: inline-block;
}

.anchor_directions_north {
    display: inline-block;
    font-size: 30px;
    color: rgb(39, 39, 39);
    transition-duration: 0.2s;
    width: 180px;
}

.anchor_directions_north:hover {
    background-color: rgb(39, 39, 39);
    color: white;
    border-radius: 15px;
}

.anchor_directions_West {
    font-size: 20px;
    display: inline-block;
    color: black;
    position: relative;
    bottom: 95px;
    right: 131px;
    transition-duration: 0.2s;
    width: 110px;
}

.anchor_directions_West:hover {
    background-color: rgb(39, 39, 39);
    color: white;
    border-radius: 10px;
}

.anchor_directions_East {
    font-size: 20px;
    display: inline-block;
    color: black;
    position: relative;
    bottom: 94px;
    left: 62px;
    transition-duration: 0.2s;
    width: 110px;
}

.anchor_directions_East:hover {
    background-color: rgb(39, 39, 39);
    color: white;
    border-radius: 10px;
}

.anchor_directions_South {
    font-size: 20px;
    display: inline-block;
    color: black;
    position: relative;
    top: 23px;
    right: 209px;
    transition-duration: 0.2s;
    padding: 0 4px;
    width: 110px;
}

.anchor_directions_South:hover {
    background-color: rgb(39, 39, 39);
    color: white;
    border-radius: 10px;
}

/* .grab_ticket_text {
    padding: 10px 30px;
    width: 50%;
} */
 .grab_ticket_text{
    display: flex;
    flex-direction: column;
    /* justify-items: space-between; */
    gap: 30px;
 }

.ticket_image_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    /* padding: 5px 10px; */
    width: 50%;
    /* padding: 8%; */
    /* background-image: url(../images/luggage.jpg);
    background-size: cover; */
}

.luggage_image_div {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 10px;
    height: 75%;
    width: 7vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: ease-in-out 0.3s;
    /* border: #424242 solid 1px; */
}


.luggage1_image {
    background-image: url(../images/luggage.jpg);
}
.luggage2_image {
    background-image: url(../images/luggage2.jpg);
    border-radius:  var(--borderradius);
}
.luggage3_image {
    background-image: url(../images/luggage3.jpg);
    border-radius:  var(--borderradius);
}
.luggage1_image,
.luggage2_image,
.luggage3_image{
    border-radius: var(--borderradius);
    height: auto;
}

.luggage1_image:hover,
.luggage2_image:hover,
.luggage3_image:hover {
    border-radius:  var(--borderradius);
    width: 17vw;
}



.booking_list_div {
    margin-bottom: 8px;
}

.booking_list_logo {
    width: 30px;
    margin-right: 7px;
    position: relative;
    top: 8px;
}

.ticket_title {
    font-weight: 100;
    font-size: 30px;
}

/* footer css */
#back-to-top-div {
    height: 28px;
    padding-top: 4px;
    text-align: center;
    background-color: #363636;
}

#back-to-top-div:hover {
    background-color: #3a3a3a;
    cursor: pointer;
}

.upper-footer-div {
    display: flex;
    flex-direction: row;
    /* gap: 50px; */
}

.footer-categories,
.footer-contactus {
    width: 50%;
    justify-content: center;
    text-align: left;
    padding-left: 15%;
}

#footer-div {
    /* text-align: center; */
    /* height: 90px; */
    padding: 2% 10% 3% 10%;
    background-color: #2e2e2e;
    color: white;
}

.footer-categories ul {
    list-style-type: none;
}
.footer-categories span,.footer-contactus{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-contactus{
    justify-content: start;

}

.Categories-item,
.Categories-contact,
.back-to-top {
    text-decoration: none;
    color: white;
}

.Categories-item:hover {
    background-color: rgba(14, 14, 14, 0.281);
}

.Categories-contact:hover {
    background-color: rgba(14, 14, 14, 0.281);
}

.logo-bg-link {
    width: min-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer-logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.india-unbound-text-footer {
    font-weight: 900;
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h4 {
    margin-bottom: 15px;
}

.contact-logo {
    position: relative;
    top: 4px;
    margin-right: 4px;
    height: 20px;
}

.footer-hr {
    text-align: center;
}

.lower-footer-div {

    text-align: center;
    justify-content: center;
}

.followus-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.followus-elements-icons {
    height: 30px;
}

/* cjvxkjcvbkxjbcvkxjcbvkxjcbvkxjcbvkxjcbvkxjcvbkxcjvbzhjxbvxjkhcbvxhcbvjxhdfbvdshbvisydbvsdyuvbsdvisydbvisyd */
@media only screen and (max-width:427px) {
    .aeroplane{
        overflow-x: hidden;
    }
    .intro-background-outer-text,.expolre_india_button ,.booking_list_div,.business_card_gradient,.navbar,.business_card,.places-container-heading{
        overflow-y: hidden;
    }
    .places-row_upper,.places-row_lower{
        pointer-events: none;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        gap: 20px;
    }
    .places-row_lower a,.places-row_upper a{
        width: 220px;
    }
    .exploring_india_background,
    .grab_ticket_button_background,.about_us,.places_div{
        height: auto;
        border-radius: 10px;
        margin:var(--mob_res_div_margins);
        background-color: white;
        padding:var(--mob_res_div_padding);
    }
    .intro-background{
        margin:var(--mob_res_div_margins);
    }
    .intro-background-outer-text p{
        padding: var(--mob_res_div_padding);
        font-size: 17px;
        text-align: justify;
    }
    .places-row{
        border-radius: var(--borderradius);
        overflow-x: scroll;
        height: 200px;
        width: 345px;
        display: flex;
        flex-direction: row;
        margin: 0;
        gap: 20px;
        background-color: white;
    }
    .page-logo-link{
        left :20px;
    }
    .compass {
        left: 56px;
        height: 162px;
    }
    .anchor_directions_West{
        bottom: 69px;
        left: 46px;
    }
    .anchor_directions_East{
        bottom: 100px;
        left: -67px;
    }
    .anchor_directions_South{
        top: 0;
        right: 60px;
    }
    .anchor_directions_East,.anchor_directions_South,.anchor_directions_West,.anchor_directions_north{
        /* background-color: rgb(39, 39, 39); */
    color: black;
    border-radius: 10px;

    }
    .grab_ticket_button_background{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .businesscard_map{
        flex-direction: column;
        gap: 20px;
    }
    .div_business_card{
        gap: 20px;
    }
    .footer-logo-div{
        margin-top: 20px;
    }
    .footer-categories{
        padding: 0;
    }
    #footer-div{
        padding-top: 20px;
    }
    #footer-paragraph{
        text-align: justify;
    }
    .business_card{
        height: 198px;
        width: 345px;
    }
    .business_card_gradient{
        height: 198px;
        width: 330px;

    }
    .business_card_gradient .business_card_gradient_header span{
        font-size: 30px;
    }
    .business_card_gradient p{
        font-size: 12px;
    }
    .business_card_gradient {
        padding: 5px 0 5px 15px;
    }
    .business_card_gradient_body .patners{
        font-size: 13px;
    }
    .business_card_vehicles div img{
        height: 26px;
    }
    .business_card_vehicles,.business_card_gradient_body{
        gap: 0px;
    }
    .aeroplane{
        width: 114px;
    }
    .business_card_gradient_footer{
        margin: 10px 20px 0 0;
        font-size: 11px;
    }
    .travels_map{
        width: 345px;
        height: 250px;
    }
    .places-container-heading{
        align-content: end;
        width: 133px;
        height: 114px;
    }
    .headerelement-text,.india-unbound-text-footer{
        display: none;
    }
    .page-logo {
        height: 42px;
    }
    .page-logo-link{
        width: 10%;
    }
    #homeicon {
        height: 25px;
        width: 25px;
        margin-right: 4px;
    }
    .navtext{
        font-size: 15px;
    }
    /* .train_bus{
        width: ;
    } */
}